li {
font-family: 'Gentium Book Basic', serif;
}

a {
font-family: 'Volkhov', serif;
font-size: 1.7em;
}

p {
font-family: 'Volkhov', serif;
}

h3 {
	font-family: 'Gentium Book Basic', serif;
}


span {
font-family: 'Gentium Book Basic', serif;
}

small {
	font-family: 'Volkhov', serif;
	font-size: 1em;
}


.background {
	background-image: url('https://www.dl.dropboxusercontent.com/s/4r9i0av549t7nyz/blueberries.JPG?dl=0');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
	width: auto;
	color: white;
	padding: 0 1% 25% 1%;
	margin-bottom: 0;
	border: 1px solid darkgreen;
}

#jumboContainer{
	text-align: center;

}

ul {
	list-style-type: none;
	padding-left: 0px;
}

a:hover {
text-decoration: none;
}

.glyphicon-menu-hamburger {
	float: left;
	font-size: 2.5em;
	color: #FC7B1B;
}

#about {
	float: right;
	color: #FC7B1B;
}

.dropdown {
/*margin-top: 5px;*/
}

.dropdown-menu {
margin-top: 10px;

}

.navbar{
	margin-bottom: 0px;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -42px;
  /* Pad bottom by footer height */
  padding: 0 0 42px;
  background-color: black;
}


.container {
	padding: 0;
	/*margin: 0 auto;*/
}
/* Set the fixed height of the footer here */
#footer {
  height: 42px;
  background-color: #94FF61;
  border: 1px double white;
  /*border-radius: 10px;*/
}

.projectDiv {
	height: 49.9%;
	width: 49.9%;
	display: inline-block;
	padding: 9%;
	
	margin: -5% -5%;
	border-radius: 50%;
}

.projectDiv:hover {
	background-image: url('https://www.dl.dropboxusercontent.com/s/4r9i0av549t7nyz/blueberries.JPG?dl=0');
}

@media (max-width: 766px) {
.container {
	margin: auto 0;
	height: 100%;
}
	.background {
	background-image: url('https://www.dl.dropboxusercontent.com/s/4r9i0av549t7nyz/blueberries.JPG?dl=0');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: white;
	padding: 20% 0;
	margin-bottom: 0;
	/*height: 100%;*/
}
}

#hr {
	margin-bottom: 10%;
}

.one {
background-color: rgba(244, 165, 130, .3);
}

.projectDiv:hover > .hoverDiv1 {
	background-color: orange;
	border-radius: 10px;
	  border: 1px double white;


}

.projectDiv:hover > .hoverDiv2 {
	background-color: gray;
	border-radius: 10px;
	  border: 1px double darkgrey;


}
.projectDiv:hover > .hoverDiv3 {
	background-color: red;
	border-radius: 10px;
	  border: 1px double darkgrey;


}
.projectDiv:hover > .hoverDiv4 {
	background-color: tan;
	border-radius: 10px;
	  border: 1px double darkgrey;


}
.projectDiv:hover > .hoverDiv5 {
	background-color: teal;
	border-radius: 10px;
	  border: 1px double darkgrey;


}

/*.hoverDiv {
	background-color: orange;
	border-radius: 50%;
	*//*width: 10em;*/
/*}*/
.one:hover {
background-image: url('https://www.dl.dropboxusercontent.com/s/jrz3m7vvrx8q0g4/castle_guard.png?dl=0');
background-size:cover;

}

.two {
background-color: rgba(114, 160, 215, .3);
}

.two:hover{
background-image: url('https://www.dl.dropboxusercontent.com/s/fjczgndpc6ef14j/petfindr.png?dl=0');
}

.three {
background-color: rgba(80, 161, 10, .3);
}
.three:hover{
background-image: url('https://www.dl.dropboxusercontent.com/s/2kzy1yc9zvr9f83/yoga_bloom.png?dl=0');

}


.four {
background-color: rgba(235, 215, 10, .3);
}
.four:hover{
background-image: url('https://www.dl.dropboxusercontent.com/s/8au14juqjzgoil5/curated_learning.png?dl=0');
}


.five {
	background-color: rgba(109, 94, 221, .3);
}
.five:hover{
background-image: url('https://www.dl.dropboxusercontent.com/s/rzjkdb0j8x3qfyw/musicians_forum.png?dl=0');
}

.threez{
	height: 49.9%;
	width: 35%;
	display: inline-block;
	padding: 9%;
	background-color: rgba(109, 94, 221, .3);
	margin: -4% -4%;
	border-radius: 50%;
}

.emptyCircle{
	visibility: none;
}

.projectName {
	font-weight: bold;
	font-size: 1em;
	color: white;
}

small {
	color: black;
	font-weight: bold;
}

@media (min-width: 767px) {
	.container {
		margin: 0 auto;
		width: 100%;
	}
	.background {
	background-image: url('https://www.dl.dropboxusercontent.com/s/4r9i0av549t7nyz/blueberries.JPG?dl=0');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: white;
	padding: 0 1% 25% 1%;
	margin-bottom: 0;
}
}

.fa {
	/*margin-bottom: 5px;*/
	margin-top: 4px;
    /*padding: 20px;*/
    font-size: 2.5em;
    /*width: 55px;*/margin: 4px 5px 0 5px;
    text-align: center;
    text-decoration: none;
    /*border-radius: 50%;*/
}

.fa-github {
/*background: black;*/
color: white;
}

.fa:hover {
    opacity: 0.8;
    
}

.fa-linkedin {
	/*background-color: white;*/
	padding: 0px 8px;
	border-radius: 50%;
}

.fa-facebook {
    
    color: white;
}


.fa-file-text {
	color: white;
	font-size: 2em;
}

.fa-twitter {
   
    color: #55ACEE;
}

.center {
	text-align: center;
}

#modal1divcontainer{
	position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		display: none;
}

#modal1div {
		background-color: #060B11;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px; 
    border: 1px solid azure;
    width:70%; /* Could be more or less, depending on screen size */
    text-align: center;
    color: white;
    display: none;
    border-radius: 20px;
    justify-content: space-around;
}


@media (max-width: 1480px) {
	#wrap {
		min-height: 100%;	
	}
	.background {
	background-image: url('https://www.dl.dropboxusercontent.com/s/4r9i0av549t7nyz/blueberries.JPG?dl=0');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: white;
	padding: 0 1% 60% 1%;
	margin-bottom: 0;
} 
}

#modal1button {
	margin-top: 20px;
}

.fotorama {
	margin: 20% auto 0 auto;
text-align: center;

}

.center {
	text-align: center;
}

@media (max-width: 767px) {
	#wrap {
		min-height: 90%;
	}
		.background {
	background-image: url('https://www.dl.dropboxusercontent.com/s/4r9i0av549t7nyz/blueberries.JPG?dl=0');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: white;
	padding: 0 1% 95% 1%;
	margin-bottom: 0;
} 
}

@media (max-width: 960px) {
	#wrap {
		min-height: 100%;
	}
		.background {
	background-image: url('https://www.dl.dropboxusercontent.com/s/4r9i0av549t7nyz/blueberries.JPG?dl=0');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: white;
	padding: 0 1% 95% 1%;
	margin-bottom: 0;
} 
}

@media (max-width: 560px) {
	#wrap {
		min-height: 100%;
	}
		.background {
	background-image: url('https://www.dl.dropboxusercontent.com/s/4r9i0av549t7nyz/blueberries.JPG?dl=0');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: white;
	padding: 0 1% 166% 1%;
	margin-bottom: 0;
} 
}